@model ForkToFit.Models.ViewModels.DayCategoryFoodSelectedViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <form asp-controller="MealPlan" asp-action="DisplayFoods">
            <input asp-for="MealPlanId" value="@Model.MealPlanId" hidden />
            <select asp-for="DaySelectedId">
                @foreach (var day in Model.ListOfDays)
                {
                    <option value="@day.Id">@day.Name</option>
                }
            </select>
            <button type="submit">Choose Day</button>
        </form>
    </dl>
    <a asp-action="Index">Back to List</a>
</div>

