@model ForkToFit.Models.UserProfile
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Fork To Fit!</h1>
    <h2 class="dislay-4">Your Health Is An Investment, Not An Expense.</h2>
</div>
